/*****************************************************/
/************   CUSTOM CSS STRUCTURE  ***********************\
/*****************************************************/

.flex_space-between{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


/**** Wrppaer postion and placement********/

.wrapper_placement{
    padding: 120px 0;
    margin: 60px 0;
}

/*********** Background image position *********/
.back-img-postion
{
    background: center/cover no-repeat fixed;
}

/*********** list inline********************/
.inline{
    display: inline-block;
}

/**** Flex ********/
.flex{
    display: flex;
    width:100%;
}

/*************CONTAINER SIZE**********************/
.application-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}


/***************Block**************************/
.block{
    width:100%;
float: left;
}
.home__title {
    color: #1a191a;
    margin-bottom: 15px;
}
.home__title>h3, .home__title>h4 {
    font-weight: 600;
    width: 100%;
    float: left;
    margin: 0 0 5px;
}
.section-title{
    color:#000;
    margin-bottom: 15px;
}
.section-content{

}
.section-wrap{
    width: 100%;
    float: left;
    padding: 60px;
    color: #777;
    font-weight: 400;
    background-color: #fff;
}
