
/***********Up to device width 768px **************/
@media (max-width: 768px){
.slider__content {
    color: #fff;
    text-align: center;
    padding: 77px 0;
}
.slider__off-price {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: .9;
}
.btn-lg {
    padding: 10px 36px;
    font-size: 9px;
    line-height: 1.3333333;
    border-radius: 40px;
}
.video {
    width: 80%;
}
.video-right {
    width: 80%;
}
}

/*****************Up to device width 767px ************/
@media (max-width: 767px){
.icon-size {
    display: block;
    width: 0px;
    text-align: center;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}
}

/*****************Up to device width 520px ************/
@media (max-width: 520px){
    .category_items a {height:100px;}
    .slider__container .btn {
    max-width: 220px;
    width: 51%;
    margin: 3px 0;
}
    }