/*****************************************************/
/************    HEADER START  ***********************\
/*****************************************************/
/**header wrapper**/
.header__wrapper{
    position: fixed;
    z-index: 9;
    width: 100%;
    padding: 10px 0;
}

/**Adding Red background on scoll**/
.fixed{
    background: rgb(196, 12, 39);
}

/**Inline of lists**/
.inline li{
    display: inline-block;
    padding: 0px 6px;
}

.navbar li a.active ,.navbar li a:hover,.navbar li a:focus {
    color: #fff;
    text-decoration: none;}

ul.inline.header__navbar li a{ 
    vertical-align: middle;
    height: 100px;
}

/****Slider styling****/
.slider__off-price {
    color: #fff;
    font-size: 100px;
    font-weight: 600;
    line-height: .9;
}
.slider__content {
    color: #fff;
    text-align: center;
    padding: 210px 0;
}
.slider__up-to {
    color: #fff;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1;
    padding: 30px 0;
}
.slider__container {
    padding: 64px 0;
}
.slider__container .btn {
    max-width: 220px;
    width: 40%;
}
.carousel-indicators{z-index:7; 
}


/**logo**/
.logo{
    height: auto;
    vertical-align: middle;
}

/**hamburger**/
.hamburger_nav{
    font-size: 34px;
}

/**overlayer on nav bar burger click(popup)**/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
}

/*****************************************************/
/************    SLIDER START  ***********************\
/*****************************************************/
/**Wrapper of slider**/
.slider__wrapper{
    width:100%;
}

/**right slide icon**/
.glyphicon-chevron-right:before {
    content: "\e080";
    background: red;
    padding: 10px;
    border-radius: 10px;
    right: 0;
    position: absolute;
}

/**left slide icon**/
.glyphicon-chevron-left:before{ 
    background: red;
    padding: 10px;
    border-radius: 10px;
    right: 0;
    position: absolute;
}

/**slider control**/
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

/*****************************************************/
/************    Video pop up START  ***********************\
/*****************************************************/
/**Video wrapper**/
.video-position__wrapper {
    z-index: 1;
    bottom: -120px;
}

.myvideo-sec{ background:#fff; 
    position:relative;
}
/**Video **/
.video{position: absolute;
    display: flex;left: 0; 
    right: 40%; height: 100%;
    z-index: 1;
    overflow: hidden; 
    -webkit-transition: right ease 0.5s;
    transition: right ease 0.5s;
    cursor: pointer;
    }

/** Full screen video**/
.video.fullvideo{
    right: 0;
    cursor: default;
}    
    
.video video{
    width:100%;
    height:100%; 
    -o-object-fit: cover; 
    object-fit: cover;
}

.video:hover:before{
    content:""; 
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,.8); 
    position: absolute;
}


/***Video content (right side)**/
.video-right{
    width: 40%; 
    float: right;
}
.video-content{ 
    width: 100%; 
    float: left; 
    padding: 60px;  
    font-weight: 400; 
    background-color: #ffffff;
}

/**cancel btn over full screen video**/
.close_btn {
    position: absolute; 
    right: 10px; 
    top: 1px; 
    cursor: pointer; 
    display: none; 
    transition:all ease .5s;
}
.close_btn img{
    width: 30px; 
    background: rgba(255,255,255,.5); 
    padding: 8px;
    border-radius: 100%;
}
.fullvideo .close_btn {
    display: block;
}
.home-content{
    color: #777777;
}

/*****************************************************/
/************    tabbing START  ***********************\
/*****************************************************/

* {box-sizing: border-box}

/* Style the tab */
.tab {
  /*  float: left;*/
/*    border: 1px solid #ccc;*/
  /*  background-color: #f1f1f1;*/
   /* width: 30%;*/
  /*  height: 300px;*/
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
     margin: 10px 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f6f6f6;
    text-decoration: none;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #f6f6f6;
    border-left: 6px solid #c40c27;
    color:#c40c27;

}

/* Style the tab content */
.tabcontent {
    padding: 0px 12px;
    border-left: none;
}
/*tabbing spacer*/
.homepage_tabbing{
    padding: 120px 0;
    background: #fff;
}
/*tabing content*/
.tabbing-right-content{
    padding: 45px;
    background-color: #c40c27;
    color: #fff;
}
.tabbing_content{
    box-shadow: 3px 3px 20px 0 rgba(0,0,0,.2);
    background-color: #fff;
}
.tabbing{
    background-color: #fff;
}
.home__content {
    width: 100%;
    float: left;
    padding: 60px;
    color: #777;
    font-weight: 400;
    background-color: #fff;
}

/*****************************************************/
/************    Category section START  ***********************\
/*****************************************************/
.section_category{position: relative;}
.category__wrapper{
    padding: 120px 0;
}

.category-header{
    background-color: #c40c27;
    padding: 45px;
}
.category-icon-wrapper{
    margin: 15px 0;
}
.category-icon-img{
    position: absolute;
    z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
}
.category__wrap {
    /* width: 30%; */
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,.2);
}
.category_items a:hover img{
    height: 110%;
    width: 110%;
} 
.category-icon-title{
    z-index: 1;
}
.category-title{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin: 30px 0 15px;
}
.category_items a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-color: #c40c27;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.category_items img {
    transition: all .2s linear;
    left: unset;
    top: unset;
}
.category_items {
    margin: 0;
    padding: 0;
    min-height: 100%;
    list-style: none;
    flex-wrap: wrap;
}
.category_items li{
    flex: 1 1 50%;
    width: 50%;
    min-height: 50%;
    float: left;
}
.flex_container{
    flex: 1 1 50%;
   display: flex;}
.category_container{
    background: #fff;
    margin: 60px 0;
}
.category-content{
    font-weight: 400;
    padding: 45px;
    background: #fff;
}

.category_items a:after {
    content: "";
    position: absolute;
    background-color: rgba(26,25,26,.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}

.category__left{
    flex: 1 1 50%;
    display: flex;
}
.category__right{
    flex: 1 1 50%;
    display: flex;
}

/*****************************************************/
/************section six START (Earn a pizza)  ***********************\
/*****************************************************/

.section-six_bg-image{
    background: url(../img/earn-pizza-bg.png) left 50vw bottom 10% no-repeat #c40c27;
    color: #fff;
    padding: 120px 0;
}

.earn_pizza-title{
    font-size: 3.4em;
    font-weight: 600;
}
.earn_pizza-content{
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
}
/*****************************************************/
/************    Footer section START  ***********************\
/*****************************************************/
.footer__wrapper {
  width: 100%;
    float: left;
    background: #333;
    color: #eaeaea;
}
.icon-frozen-pizza:before {
    content: "\e902";
}
.icon-size{
    display: block;
    width: 15px;
    text-align: center;
    padding: 0px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

.footer-container {
    border-bottom: 1px solid #777;
}
.footer-listing li{
    list-style: none;  
    width: 100%;
    float: left;
    margin: 5px 0;}
.footer_icon-list li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}    
.footer-copyright{
    padding: 15px 0;
}
.footer-navigation{padding: 45px 0;
    }