<!DOCTYPE html>
<html lang="en" ng-app="webApp">

<head>
    <title>sweetloraine Mediterranean Grill - Mediterranean Restaurant in Chicago | Order Mediterranean Food Online | Order Falafel Online | Delivery, Takeout & Dine in</title>
    <!--no cache-->
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1998 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="refresh" content="12000"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--no cache-->

     <!--dns prefetch start -->
    <link rel="dns-prefetch" href="//api.munchado.in/">
    <link rel="dns-prefetch" href="//dc8l3mwto1qll.cloudfront.net">
    <!-- dns prefetch end -->

    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway:400,400i,700&subset=latin-ext' rel='stylesheet' type='text/css'>



    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="//www.sweetlorainemediterraneans.com" />
    <meta property="og:image" content="theme/sweetloraine/images/bg_homepage.jpeg" />
    <meta property="og:title" content="sweetloraine Mediterranean Grill" />
    <meta property="og:description" content="sweetloraine offers your choice of a tasty sandwich in a wrap, pita or bowl. And not to mention, some really friendly service to go with it." />
    <meta property="og:site_name" content="sweetloraine" />
    <meta property="fb:admins" content="357224804480382" />
    <meta name="Description" content=" sweetloraine Mediterranean Grill is the Mediterranean restaurant in Chicago that offers hand-crafted, delectable Mediterranean dishes as a choice of tasty falafel, shawarma and more in a wrap, pita or bowl. Order online for delivery, takeout or dine in.">
    <meta name="keywords" content="sweetloraine Mediterranean Grill, Mediterranean Restaurant in Chicago, Order Mediterranean Food Online, Order Falafel Online, Mediterranean Restaurant Near Me, Mediterranean Food Delivery Near Me">
    <meta name="robots" content="index, follow"/>
    <meta name="google-site-verification" content="viJ_PAH2YDjod9NW3TuN2GWdYXz1yCrEZNvPN_Fq4gw" />
    <link rel="canonical" href="//www.sweetlorainemediterraneans.com" />
    <link rel="alternate" href="//www.sweetlorainemediterraneans.com" hreflang="en-us" />
    <!--CSS-->
    <link rel="shortcut icon" href="theme/sweetloraine/images/favicon.ico?v=3" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="style/main.combined.css?v=4"/>
    <link rel="stylesheet" href="theme/sweetloraine/style/style.css?v=9">
    <!--end CSS-->
    <link rel="import" href="templates.html?v=3">
    <!-- Map for QC -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.30&key=AIzaSyBnrlYzkEe0T4vUYJAqsWHVKuf3AGvXeH4&libraries=places,geometry"></script>
    <!-- Map for live -->
    <!--<script src="//maps.googleapis.com/maps/api/js?v=3.30&key=AIzaSyCqdzHTaQtvteiYhlfSwgmGiynHTpqPOY4&libraries=places,geometry"></script>-->

    <script src="js/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/jstorage.js"></script>
    <script src="js/datetimepickersam.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/ics-min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/global.js?v=2"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js?v=4"></script>
    <script type="text/javascript" src="config.js" defer></script>
    <script type="text/javascript" src="js/utility.js?v=4" defer></script>
    <script type="text/javascript" src="js/app.js?v=4" defer></script>
    <script src="js/jquery.icalendar.js"></script>
   <script src="theme/sweetloraine/catering.js?v=2"></script>

    <!-- Google Tag Manager QC-->
   
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NDQQB3T');</script>

        <!-- End Google Tag Manager -->



    <!-- Google Tag Manager Live-->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5PM5H9P');</script> -->

    <!-- End Google Tag Manager -->

    <script>
        window.addEventListener('load', function(e) {
            window.applicationCache.addEventListener('updateready', function(e) {
                if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
                    window.location.reload(true);
                }
            }, false);
        }, false);
        function addMenuTrackingCodes(data){
            // fbq('track', 'AddToCart');
        }
    </script>


</head>

<body>

    
 
    <noscript>
        <style type="text/css">
            body{overflow:hidden;}
            #mainloader, #pageload{display:none;}
        </style>
        <div class="upgradebrwsercont">
            Hey! The Internet is built on the blood sweat and tears of engineers and designers.
            Show them the respect they deserve and enable Javascript. It's the fuel of the Internet.
        </div>
    </noscript>

    
    <div id="mainloader" style="text-align:center;position:fixed;width:100%;height:100%;background:#fff;color:#fff;display:flex;justify-content:center;align-items:center;z-index:99999;  flex-direction: column">
        <div style="max-width:160px;margin:0 auto;">
            <div class="lineloader"><span></span><span></span><span></span></div>
            <!--<em style="opacity:0.9;font-size:0.75em;padding-top:10px;display:block;">Just a moment, we&#8217;re organizing the menu drawer.</em>-->
        </div>
    </div>
    <div id="pageload" ng-controller="overviewController" style="display:none">
        <div class="pageheader">
            <div class="_960px">
                <a href="javascript:void(0)" class="link_hamburger link_mobilemenu"><i class="i_hamburger"><span></span></i></a>
                <a href="javascript:void(0)" class="_brandname pagejump" data-target="home" data-gtmd="logo_click"><img src="theme/sweetloraine/images/brandlogo.png" alt=""><span>brandName</span></a>
                <div class="headerlink_topright y-resraurant-services">
                    <a href="javascript:void(0)" data-target="menu" ng-show ="restaurantData.accept_cc_phone" class="hl y-go-to-menu pagejump" data-gtmd="order_online">order online</a>
                    <a href="javascript:void(0)" ng-show="restaurantData.has_reservation" data-popup="reserve_a_table" class="hl y-reserveTable">reserve a table</a>
                    <a href="javascript:void(0)" data-target="menu" ng-show ="restaurantData.accept_cc_phone" class="i_addtocard pagejump y-go-to-checkout" data-gtmd="cart">
                            <i class="gi i_cart y-no-item"><span class="cartCount">0</span></i>
                        </a>
                    <div class="y_tooltip tooltip headertooltip hide">
                        <p class="txt text-align-center">'<strong class="added_item"></strong>'
                            <br>added to your order.</p>
                    </div>
                </div>
                <div class="dropdown_mobile">
                    <ul class="unstyled navbar nav">
                         <li>
                            <a href="javascript:void(0)" class="pagejump" data-target="about" data-gtmd="about">About</a>
                        </li> 
                        <li>
                            <a href="javascript:void(0)" class="pagejump  y-go-to-menu" data-target="menu" data-gtmd="menu">Menu</a>
                        </li>
                         <li>
                         <a href="javascript:void(0)" class="pagejump y-show-catering" data-target="catering" data-gtmd="catering">Catering</a>
                      </li> 
                        
                        <li>
                            <a href="javascript:void(0)" class="pagejump" data-target="gallery" data-gtmd="gallery">Gallery</a>
                        </li>
<!--   <li>
                            <a href="javascript:void(0)" class="pagejump y-show-career" data-target="career" data-gtmd="career">Careers</a>
                        </li>-->
                        
                        <li>
                            <a href="javascript:void(0)" class="pagejump" data-target="contact" data-gtmd="contact">Contact</a>
                        </li>
                        <li class="xs-hide" ng-class="restaurantData.accept_cc_phone ? 'line-orderonline' : ''">
                            <a href="javascript:void(0)" ng-show ="restaurantData.accept_cc_phone" data-target="menu" class=" y-go-to-menu pagejump" data-gtmd="order_online" 
                            >order online</a>
                        </li>
                        <li class="xs-hide"  ng-class="restaurantData.has_reservation ? 'line-orderonline' : ''">
                            <a href="javascript:void(0)" ng-show="restaurantData.has_reservation" data-popup="reserve_a_table" class="y-reserveTable">reserve a table</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Home-->
       
            <div class="homebgblack">
                <div class="home text-align-center wow fadeIn" id="home" data-wow-duration="2s">
                    <div class="txt_homepage">
                        <p class="hometitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Keepin' It Cheezy</p>
                    </div>
                    <div class="homedownarrow pagejump wow fadeIn" data-target="about" data-wow-duration="2s" data-wow-delay="2s" data-gtmd="down_arrow">
                        <i class="i_downstyle"></i>
                        <i class="i_downarrow fadeInUp aanimated"></i>
                    </div>

                </div>
            </div>

        <!-- Home -->
        <!--about-->
         <div id="about" class="about psection">
            <div class="text-align-center aboutsection" style="background-image:url('{{getMainImage()}}')">
                <!-- <div class="text-align-center aboutsection" style="background-image:url('theme/sweetloraine/images/about-placeholder.jpg')"> -->
                <div class="about_content">
                    <p class="sectiontitle">about</p>
                    <p class="txt_about" ng-bind-html="overview.about.detail"></p>
                    <p class="txt_typeplace">type of place</p>
                    <ul class="typeofplace unstyled clearfix">
                        <li ng-repeat="feature in features">
                            <a href="javascript:void(0)">
                                    <i class="{{getIcon(feature.features_key)}}"></i>
                                    <p>{{feature.features}}</p>
                                </a>
                        </li>
                    </ul>
<!--                    <a href="javascript:void(0)" class="ubtn btn_readourstory" ng-show="restaurantData.has_story">Read our story</a>-->
                     <a href="javascript:void(0)" class="ubtn btn_readourstory" ng-show="restaurantData.has_story">Read our story</a>
                </div>
            </div>
            <div class="storysection hide" ng-controller="storyController">
                <div ng-show="!isEmpty(storiesTitle)" class="storydividedtxt _mt50" ng-bind-html="storiesTitle"></div>
                <div ng-show="!isEmpty(story.description)" ng-repeat="story in stories">
                    <p class="sectiontitle _mt70">{{story.title}}</p>
                    <div class="row _pt50 _pt15-xs display-flex display-flex-none-xs">
                        <div class="col-md-6 col-xs-12">
                            <img ng-src="{{getImage(story.image)}}" alt="{{story.title}}" class="img-responsive-100">
                        </div>
                        <div class="col-md-6 col-xs-12 vm">
                                <p ng-bind-html="story.description" class="_pl10">
                        
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
       <!-- about-->
        <!--menu-->
        <div class="_menu u_menusection"  id="menu" ng-class="{menu_cc: !restaurantData.accept_cc_phone}" ng-controller="menuController">
            <div class="_960px">
                <p class="sectiontitle">menu</p>
                <div class="hide t-menu-render menutab">
                    <div class="navbarcontainer">
                        <div>
                            <!--<p class="close_restaurant _960px hide">This restaurant is closed for delivery and not accepting any more orders right now. It will begin accepting new orders {{restaurantData.next_takeout}}. You can still pre-order by choosing a different time of delivery.</p>-->
                            <ul class="unstyled navbar nav md-hide">
                                <li class="tab_{{dis.category_id}} tabs {{isDMDeal(dis.category_name)}}" ng-repeat="dis in dishes" ng-class="{active:$first}"><a ng-click="showTab(dis.category_id,dis.category_name);" id="{{dis.category_id}}" href="javascript:;" class="tablink" ng-bind-html="dis.category_name"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sticky_deal text-align-center hide" ng-controller="dealController">
                        <div ng-repeat="deal in deals">
                            <p class="title_sticky_deal text-uppercase"><span class="color_red">{{deal.title}}</span></p>
                            <p class="tnc_sticky_deal">Offer valid through {{startDate(deal.start_on)}}. {{deal.condition}}</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="res_menu y-menu-section">
                            <div ng-repeat="dis in dishes" class="{{isDMDeal(dis.category_name)}}">
                                <div class="tabs mobilemenutabs xs-hide tab_{{dis.category_id}}">
                                    <a href="javascript:;" class="tablink" ng-bind-html="dis.category_name" ng-click="showTab(dis.category_id,dis.category_name);"></a>
                                </div>
                                <div class="menu_{{dis.category_id}} menu_container" ng-class="{active:$first}">
                                    <div class="subcategories sectiontitle">
                                        <p class="res_sub_des" ng-bind-html="dis.category_desc"></p>
                                    </div> 

                                    <div ng-repeat="di in dis.sub_categories">

                                        <div class="subcategories_level1 sectiontitle">
                                            <p ng-bind-html="di.category_name"></p>
                                            <p class="res_sub_des" ng-bind-html="di.category_desc"></p>

                                        </div>
                                        <div class="menubox" ng-repeat="di_sub in di.sub_categories">
                                            <div class="subcategories sectiontitle">
                                                 <p ng-bind-html="di_sub.category_name"></p>
                                                <p class="res_sub_des" ng-bind-html="di_sub.category_desc"></p>

                                            </div>
                                            <div class="item_menupanel">
                                                <div class="item_menu t_order_{{di_sub2.online_order_allowed}}" ng-click="addToOrder(di_sub2)" ng-repeat="di_sub2 in di_sub.sub_categories">
                                                    <div class="img_menu" ng-show="!isEmpty(di_sub2.item_image_url)">
                                                        <div style="background-image:url('{{imagePath}}{{di_sub2.item_image_url}}');"></div>
                                                    </div>
                                                    <div class="item_contentpanel">
                                                        <p class="txt_restitle"><span ng-bind-html="di_sub2.item_name"></span></p>
                                                        <p class="txt_resdes"><span ng-bind-html="di_sub2.item_desc"></span></p>
                                                        <p class="txt_price" ng-show="!isEmpty(items.prices[0].value)">${{di_sub2.prices[0].value}}</p>
                                                        <a href="javascript:void(0)" class="ubtn btn_addtocard btn_addtoorder"><span>ADD TO CART</span></a>
                                                        <span class="lineloader_menu loader_{{di_sub2.item_id}} hide"><span></span><span></span><span></span></span>
                                                    </div>
                                                </div>
                                                <div class="item_menu t_order_{{items.online_order_allowed}}" ng-click="addToOrder(items)" ng-repeat="items in di_sub.category_items">
                                                    <div class="img_menu" ng-show="!isEmpty(items.item_image_url)">
                                                        <div style="background-image:url('{{imagePath}}{{items.item_image_url}}');"></div>
                                                    </div>
                                                    <div class="item_contentpanel">
                                                        <p class="txt_restitle"><span ng-bind-html="items.item_name"></span></p>
                                                        <p class="txt_resdes"><span ng-bind-html="items.item_desc"></span></p>
                                                        <p class="txt_price" ng-show="!isEmpty(items.prices[0].value)">${{items.prices[0].value}}</p>
                                                        <a href="javascript:void(0)" class="ubtn btn_addtocard btn_addtoorder"><span>ADD TO CART</span></a>
                                                        <span class="lineloader_menu loader_{{items.item_id}} hide hide">  <span></span><span></span><span></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_menupanel">
                                            <div class="item_menu t_order_{{items.online_order_allowed}}" ng-click="addToOrder(items)" ng-repeat="items in di.category_items">
                                                <div class="img_menu" ng-show="!isEmpty(items.item_image_url)">
                                                    <div style="background-image:url('{{imagePath}}{{items.item_image_url}}');"></div>
                                                </div>
                                                <div class="item_contentpanel">
                                                    <p class="txt_restitle"><span ng-bind-html="items.item_name"></span></p>
                                                    <p class="txt_resdes"><span ng-bind-html="items.item_desc"></span></p>
                                                    <p class="txt_price" ng-show="!isEmpty(items.prices[0].value)">${{items.prices[0].value}}</p>
                                                    <a href="javascript:void(0)" class="ubtn btn_addtocard btn_addtoorder"><span>ADD TO CART</span></a>
                                                    <span class="lineloader_menu loader_{{items.item_id}} hide">  <span></span><span></span><span></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item_menupanel">
                                        <div class="item_menu t_order_{{items.online_order_allowed}}" ng-click="addToOrder(items)" ng-repeat="items in dis.category_items">
                                            <div class="img_menu" ng-show="!isEmpty(items.item_image_url)">
                                                <div style="background-image:url('{{imagePath}}{{items.item_image_url}}');"></div>
                                            </div>
                                            <div class="item_contentpanel">
                                                <p class="txt_restitle"><span ng-bind-html="items.item_name"></span></p>
                                                <p class="txt_resdes"><span ng-bind-html="items.item_desc"></span></p>
                                                <p class="txt_price" ng-show="!isEmpty(items.prices[0].value)">${{items.prices[0].value}}</p>
                                                <a href="javascript:void(0)" class="ubtn btn_addtocard btn_addtoorder"><span>ADD TO CART</span></a>
                                                <span class="lineloader_menu loader_{{items.item_id}} hide">  <span></span><span></span><span></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_ordersummary ordersummarystep1">
                            <div class="text-align-right">
                                <a href="javascript:void(0)" class="y-backtomenu sm-hide"><i class="i_close">+</i></a>
                            </div>
                            <p class="txt_ordersummary">order summary</p>
                            <p class="delivery_notavailable txt_order_onlytakeout hide">Currently we do not support online delivery</p>
                            <p class="delivery_notavailable txt_order_onlydelivery hide">Currently we do not support takeout</p>
                            <div id="menu_ordersection">
                                <input type="radio" name="munchservices" value="delivery" id="t_delivery" checked hidden>
                                    <input type="radio" name="munchservices" value="takeout" id="t_takeout" hidden>
                                    <label class="ubtn btn_service" for="t_delivery"><span class="btn_checked"><i class="icono-check"></i></span>Delivery</label>
                                    <label class="ubtn btn_service" for="t_takeout"><span class="btn_checked"><i class="icono-check"></i></span>takeout</label>
                                    <p class="but_order_type hide txt_order_onlytakeout">
                                        Order Type: <strong>Takeout</strong>
                                    </p>
                                    <p class="but_order_type hide txt_order_onlydelivery">
                                        Order Type: <strong>Delivery</strong>
                                    </p>
                                    <div class="t-orderDateTimePanel"></div>

                                <div class="ordersummary_delivery ordersummary_service">
                                    <div class="box_expectedtime _fs12 _mt35 ordertype_location">
                                        <p class="_fontarial txt_minhours t_distance_text"></p>
                                        <p class="_fs14 txt_upper t_delivery_address"></p>
                                        <p><a href="javascript:void(0)" class="txtlink t_change_address" title="Edit Address">Change</a></p>
                                    </div>
                                    <p class="_mt10 txt_rightalign _fs12 y-deleiver-yes hide"><i class="i_right i_circle"></i>Good News! This restaurant will deliver to you.</p>
                                    <p class="_mt10 txt_rightalign y-deleiver-no _fs12 hide"><i class="i_circle i_wrong">+</i>Sorry, you&#180;re outside this restaurant&#180;s delivery zone.</p>
                                    <p class="text-align-center _btnadditems  y-additems hide"><a href="javascript:void(0)" class="txtlink y-backtomenu">Add items to Order</a></p>
                                </div>
                                <div class="ordersummary_takeout ordersummary_service">
                                    <!--Takeout-->
                                    <p class="text-align-center _btnadditems  y-additems hide"><a href="javascript:void(0)" class="txtlink y-backtomenu">Add items to Order</a></p>
                                </div>
                                <div class="_mt35">
                                    <p class="txt_bs_noorder t-no-order">There are currently no items in your order. Click on items from the menu to add them to your order.</p>
                                    <div class="txt_bs_noorder _mt10 t-min-order hide">
                                        Minimum order must exceed:
                                        <strong>$<span class="t_min_order">{{dishes.minDelivery}}</span>*</strong>
                                        <p class="_fs9">(*excluding tax, tip and delivery charges)</p>
                                    </div>
                                </div>
                                <div class="box_orderitem _mt35">
                                    <p class="title_bs_order">your order</p>
                                    <div class="container">
                                        <div class="yourorder_box"></div>
                                        <div class="row txt_bs_item _mt35">
                                            <div class="col-md-8 col-xs-8 text-uppercase">Subtotal</div>
                                            <div class="col-md-4 col-xs-4 text-align-right">$<span class="order_subtotal">0.00</span></div>
                                        </div>
                                        <div class="row txt_bs_item t-deliverycharge">
                                            <div class="col-md-8 col-xs-8 text-uppercase">Delivery</div>
                                            <div class="col-md-4 col-xs-4 text-align-right">$<span class="deliverycharge_amount">0.00</span></div>
                                        </div>
                                        <div class="row txt_bs_item y-discount hide">
                                            <div class="col-md-8 col-xs-8 text-uppercase">Discount</div>
                                            <div class="col-md-4 col-xs-4 text-align-right">- $<span class="discount_amount">0.00</span></div>
                                        </div>
                                       <!--  <div class="promo_code _mt19 _mb19">
                                            <p class="title_bs_order _pb10">your promo code</p>
                                            <div class="row y-promocode">
                                                <div class="col-md-8 col-xs-8">
                                                    <input type="text" id="promocode" value="" />
                                                </div>
                                                <div class="col-md-4 col-xs-4"><a href="" class="ubtn" ng-click="promocode()">Enter</a></div>
                                            </div>
                                            <div class="row y-promocode-apply _fs14 hide">
                                                <strong class="col-md-8 col-xs-8 y-promocode-coupan text-uppercase"> </strong>
                                                <strong class="col-md-4 col-xs-8 text-align-right">- $<span class="y-promocode-amount"></span></strong>
                                            </div>
                                            <p class="error-message hide">Invalid Promo code</p>
                                        </div> -->
                                        <div class="row txt_bs_item">
                                            <div class="col-md-8 col-xs-8 text-uppercase">Tax</div>
                                            <div class="col-md-4 col-xs-4 text-align-right">$<span class="order_tax">0.00</span></div>
                                        </div>
                                        <div class="row txt_bs_item y-tip hide"> <div class="col-md-7 col-xs-7 text-uppercase _pt3">Tip Amount</div> <div class="col-md-5 col-xs-5 text-align-right"><select class="t-tip-percent"></select></div> </div>
                                        <div class="_mt35">
                                            <p class="txt_bs_noorder txt_bs_item y-tip-desc hide">You may be asked to sign a receipt at the time of delivery. You do not need to re-enter the tip.</p>
                                        </div>
                                        <div class="row txt_bs_total totalCls _mt35">
                                            <div class="col-md-8 col-xs-8 text-uppercase">Total</div>
                                            <div class="col-md-4 col-xs-4 text-align-right">$<span class="order_total">0.00</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-align-center _mt35">
                                   <p class="text-align-center _pb10  time_slot_error error-message hide"> </p>
                                      <a href="javascript:void(0)" class="ubtn blackbtn y-checkoutBtn">checkout</a>
                                    <span class="lineloader checkout_loader hide">  <span></span><span></span><span></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkoutDiv hide">
                    <p class="msgreservation y_checkout_heading">Your <span class="y-order-type"></span> order comes to <strong class="y-order-total"></strong> and brings you one step (and a short walk) closer to food nirvana. </p>
                    <p class="txt_givecall">You can always give us a call at <span class="y-restarant-phone"></span> to make any changes up to an hour before your <span class="y-order-type-msg">pick up</span> time.</p>
                    <div id="menu_checkout" class="menu_checkout clearfix">
                        <div class="res_menu">
                            <div class="text-align-center xs-hide _pb30">
                                <a href="javascript:void(0)" class="ubtn blackbtn y-backtomenu">Back to menu</a>
                            </div>
                            <div class="checkoutsection"></div>
                        </div>
                        <div class="box_ordersummary ordersummarystep2">
                            <p class="txt_ordersummary">order summary</p>
                            <p class="text-align-center t-edit_order_link"><a href="javascript:void(0)" class=" ubtn blackbtn" title="Edit Order">Edit Order</a></p>
                            <p class="title_first _mt30">Order Type:</p>
                            <p class="subtitle_first text-capitalize y-orderType"></p>

                            <p class="title_first _mt30 y-deliveryTo hide">Deliver To:</p>
                            <p class="subtitle_first text-capitalize y-deliveryAddress"></p>
                            
                            <p class="title_first _mt30">Time of Order:</p>
                            <p class="subtitle_first y-timeOfOrder"></p>
                            <p class="title_first _mt30">Expected Time of <span class="y-orderType"></span>:</p>
                            <p class="subtitle_first y-expectedTime"></p>
                            <p class="msgreservation y-dealtext hide"></p>
                            <div class="box_orderitem _mt35">
                                <p class="title_bs_order">your order</p>
                                <div class="container">
                                    <div class="yourorder_box"></div>
                                    <div class="row txt_bs_item _mt35">
                                        <div class="col-md-8 col-xs-8 text-uppercase">Subtotal</div>
                                        <div class="col-md-4 col-xs-4 text-align-right">$<span class="order_subtotal">0.00</span></div>
                                    </div>
                                    <div class="row txt_bs_item t-deliverycharge">
                                        <div class="col-md-8 col-xs-8 text-uppercase">Delivery</div>
                                        <div class="col-md-4 col-xs-4 text-align-right">$<span class="deliverycharge_amount">0.00</span></div>
                                    </div>
                                    <div class="row txt_bs_item y-discount hide">
                                        <div class="col-md-8 col-xs-8 text-uppercase">Discount</div>
                                        <div class="col-md-4 col-xs-4 text-align-right">- $<span class="discount_amount">0.00</span></div>
                                    </div>
                                    <!-- <div class="promo_code _mt19 _mb19 hide t_promocode">
                                        <p class="title_bs_order _pb10">your promo code</p>
                                        <div class="row y-promocode-apply _fs14 hide">
                                            <strong class="col-md-8 col-xs-8 y-promocode-coupan text-uppercase"> </strong>
                                            <strong class="col-md-4 col-xs-8 text-align-right">- $<span class="y-promocode-amount"></span></strong>
                                        </div>
                                    </div> -->
                                    <div class="row txt_bs_item">
                                        <div class="col-md-8 col-xs-8 text-uppercase">Tax</div>
                                        <div class="col-md-4 col-xs-4 text-align-right">$<span class="order_tax">0.00</span></div>
                                    </div>
                                    <div class="row txt_bs_item y-tip hide">
                                        <div class="col-md-8 col-xs-8 text-uppercase">Tip</div>
                                        <div class="col-md-4 col-xs-4 text-align-right default_tip"></div>
                                    </div>
                                    <div class="_mt35">
                                        <p class="txt_bs_noorder txt_bs_item y-tip-desc hide">You may be asked to sign a receipt at the time of delivery. You do not need to re-enter the tip.</p>
                                    </div>
                                    <div class="row txt_bs_total totalCls _mt35">
                                        <div class="col-md-8 col-xs-8 text-uppercase">Total</div>
                                        <div class="col-md-4 col-xs-4 text-align-right">$<span class="order_total">0.00</span></div>
                                    </div>
                                    <div class="row _mt35 txt_bs_item y-paymentDetails hide">
                                        <div class="col-md-8 col-xs-8 text-uppercase">
                                            Payment:
                                            <br>
                                            <strong>Credit Card <span class="y-cardType">visa</span>(XXXX-XXXX-XXXX-<span class="y-cardNo">4242</span>/ Exp:<span class="y-expOn">09/2019</span>)</strong>
                                        </div>
                                        <div class="col-md-4 col-xs-4 text-align-right">$<span class="order_total">0.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu -->
           <!-- catering -->
            <div class="catering_booking psection" id="catering">
                <div class="_960px">
                    <p class="sectiontitle">Catering Booking</p>
                     <p class="txt_astrick_checkout">Mandatory Fields<span class="error-color">*</span></p>
                    <div class="form_contact">
                        <div class="row list_form">
                            <div class="col-md-5 col-sm-5  text-align-sm-right text-align-md-right txt_checkoutlabel">Name<span class="error-color">*</span></div>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" name="contact_firstname">
                                <p class="error-message hide catering-error-message">Sorry, We don't talk to strangers</p>
                            </div>
                        </div>
                        <div class="row list_form">
                            <div class="col-md-5 col-sm-5  text-align-sm-right text-align-md-right txt_checkoutlabel">Phone Number<span class="error-color">*</span></div>
                            <div class="col-md-7 col-sm-7 phoneno_code">
                                <input type="tel" name="contact_phonenumber" maxlength="10" pattern="[0-9]*" value="">
                                <p class="error-message hide catering-error-message">We promise; No prank calls</p>
                            </div>
                        </div>
                        <div class="row list_form">
                            <div class="col-md-5 col-sm-5  text-align-sm-right text-align-md-right txt_checkoutlabel">Email<span class="error-color">*</span></div>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" name="contact_email">
                                <p class="error-message hide catering-error-message">Hey, you forgot something</p>
                            </div>
                        </div>
                        <div class="row list_form">
                            <div class="col-md-5 col-sm-5  text-align-sm-right text-align-md-right txt_checkoutlabel">Date / Time of party<span class="error-color">*</span></div>
                            <div class="col-md-7 col-sm-7">
                                <input name="nc_days" id="nc_days" type="text" class="nc_days" readonly="">
                                <input name="nc_time"  id="nc_time" type="text" class="nc_time" readonly="">
                                <p class="error-message hide catering-error-message">Hey, you forgot something</p>
                            </div>
                        </div>
                        <div class="row list_form">
                            <div class="col-md-5 col-sm-5 text-align-sm-right text-align-md-right txt_checkoutlabel">best way to reach</div>
                            <div class="col-md-7 col-sm-7">
                                <label class="custom_radio">
                                    <input type="radio" name="contact_reachway" value="Email" checked>
                                    <span class="control_indicator"></span>email
                                </label>
                                <label class="custom_radio">
                                    <input type="radio" name="contact_reachway" value="Phone">
                                    <span class="control_indicator"></span>phone
                                </label>
                            </div>
                        </div>
                        <div class="row list_form">
                            <div class="col-md-5 col-sm-5  text-align-sm-right text-align-md-right txt_checkoutlabel">Describe your event <span class="error-color">*</span></div>
                            <div class="col-md-7 col-sm-7">
                                <textarea class="describe_event" placeholder="" name="contact_describe_event" rows="4"></textarea>
                                <p class="error-message hide catering-error-message">Hey, you forgot something</p>
                            </div>
                        </div>
                        <div class="row list_form">
                            <div class="col-md-5 col-sm-5 text-align-sm-right text-align-md-right txt_checkoutlabel">Number of people?<span class="error-color">*</span></div>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" name="number_of_people" maxlength="10" pattern="[0-9]*" value="">
                                <p class="error-message hide catering-error-message">Hey, you forgot something</p>
                            </div>
                        </div>
                        <div class="row list_form">
                            <div class="col-md-5 col-sm-5 text-align-sm-right text-align-md-right txt_checkoutlabel">Do you need an event venue? </div>
                            <div class="col-md-7 col-sm-7">
                                <label class="custom_radio">
                                    <input type="radio" name="contact_eventvenue" value="Yes" checked>
                                    <span class="control_indicator"></span>yes
                                </label>
                                <label class="custom_radio">
                                    <input type="radio" name="contact_eventvenue" value="No">
                                    <span class="control_indicator"></span> no
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5">&nbsp;</div>
                            <div class="col-md-7">
                                <div class="contact_btn_submit"><a href="javascript:void(0)" class="ubtn contactsubmit">submit</a><span class="lineloader hide"><span></span><span></span><span></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_thankyou hide">
                        <p class="title_section">Thank you!</p>
                        Thank you for your message. We will try to answer as soon as possible.
                    </div>
                </div>
            </div> 
            <!-- catering -->
        <!--Gallery-->
        <div id="gallery" class="gallery psection" ng-controller="gallaryController">
            <div class="_960px">
                <div class="owl-carousel galleryslider">
                    <div class="item" ng-repeat="img in galleries"><img ng-src="{{img.imgurl}}" alt="{{img.title}}" class="img-responsive"></div>
                </div>
            </div>
        </div>
        <!--gallery-->
 
        <!--Contact-->
        <div class="contact psection" id="contact" ng-controller="contactController">
            <div class="_960px">
                <div id="viewmap" style="height:450px"></div>
                <div class="text-align-center panel_contactsection">
                    <div class="callout_contact">
                        <p class="sectiontitle">contact</p>
                        <p class="txt_address">
                            <strong>{{restaurant.address}}, {{restaurant.city}},{{restaurant.stateCode}} {{restaurant.zipcode}}</strong>
                            <!--                                <strong>9 west 32nd street, 2nd floor, new york</strong>
<span>(Between 5th Ave. & Broadway)</span>-->
                        </p>
                        <a href="javascript:void(0)" ng-show="restaurantData.has_reservation" data-popup="reserve_a_table" class="ubtn btn_contactreserve y-reserveTable">reserve a table</a>
                        <p class="txt_contactdetail">
                            <strong>phone</strong>
                            <a class="contact_resphoneno ng-binding" href="tel:{{restaurant.phone_no}}">
                                <!-- 212-575-2307 -->
                                {{restaurant.phone_no}}
                            </a>
                            <!--                                1-888-345-1303-->
                        </p>
                        <p class="txt_contactdetail" ng-hide="isEmpty(restaurant.delivery_desc)">
                             <span ng-show="restaurantData.has_delivery">
                                 <strong>delivery area</strong>
                                 {{restaurant.delivery_desc}}
                             </span>
                         </p>
                        <div class="txt_contactdetail y-resCalender">
                            <strong>hours</strong> Open 24 hours! All year around!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact-->
        <!--footer-->
        <div class="footer text-align-center clearfix" ng-controller="footerController">
            <div class="_960px">
                <a ng-show="!isEmpty(fdata.facebook_url)" href="{{fdata.facebook_url}}" target="_blank" class="_mrl15"><i class="gi i_fb"></i></a>
                <a ng-show="!isEmpty(fdata.twitter_url)" href="{{fdata.twitter_url}}" target="_blank" class="_mrl15"><i class="gi i_twitter"></i></a>
                <a ng-show="!isEmpty(fdata.instagram_url)" href="{{fdata.instagram_url}}" target="_blank" class="_mrl15"><i class="gi i_instagram"></i></a>
                <a ng-show="!isEmpty(fdata.yelp_url)" href="{{fdata.yelp_url}}"  target="_blank" class="_mrl15"><i class="gi2 i_yelp"></i></a>
                <a ng-show="!isEmpty(fdata.tripadvisor_url)" href="{{fdata.tripadvisor_url}}"  target="_blank" class="_mrl15"><i class="gi2 i_trip"></i></a>
                <div class ="privacy_footer">
                      <span style="color: #FFF;">Powered by </span><a  href="//munchado.biz/" target="_blank"><span style="color: #F17022"> Munch Ado </span> </a><span style="color: #fff"> | </span>
                    <a href="//munchado.biz/terms-of-use.html" target="_blank">Terms of Use </a> <span style="color: #fff"> |</span>
                    <a  href="//munchado.biz/privacy-policy.html" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>

    <div class="a_modal hide">
        <div class="a_modal-dialog">
            <a href="javascript:void(0)" class="i_close close">+</a>
            <div class="addons-width">
                <div class="bg_grey t-popupdata"></div>
            </div>
        </div>
    </div>
    <div id="templates"></div>
    <div id="templates1"></div>
    <div class="modalwatchvideo vertical-middle hide">
        <a href="javascript:void(0)" class="i_close videoclose">+</a>
        <iframe src="" width="95%" height="95%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="videoiframe"></iframe>
    </div>
</body>
<script type="text/javascript" src="js/wow.min.js"></script>

</html>